* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background: url('../img/bg/main_bg.png') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color:#ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

h1 {
    margin-top:53px;
}

.title {
    color: #f9bf3b;
    font-family:"Roboto - Black", sans-serif;
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h2.title {
    margin-top: 30px;
}

.simple .title_big {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    margin-top: 11px;
    text-align: center;
    text-transform: uppercase;
}

.promo .promo_text {
    margin-top: 23px;
    padding:0 13px;
    color:#ffffff;
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
}

.promo .promo_text span {
    color: #f9bf3b;
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);

    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more {
    margin:0 auto;
}

.more .more_text {
    margin-top: 73px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

.more .more_img {
    display: block;
    margin:0 auto;
    margin-top: 12px;
}

.waiting {
    height: 607px;
    background-color: #EFEFEF;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    color: #252525;
    font-family: Roboto;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.finish .finish_header {
    color: #ffffff;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background: #F9BF3B;
    margin-top: 18px;
    margin: 0 auto;
    margin-top: 6px;
}

.waiting .waiting_subheader {
    color: #4A4A4A;
    font-family: Roboto;
    font-weight: 400;
    font-size: 23px; 
    text-align: center;
    margin-top: 4px;
}

.waiting .waiting_wrapper {
    margin-top: 45px;
    display:flex;
    justify-content:space-around;
}

.waiting .waiting_wrapper .waiting_item {
    display:inline-block;
    width: 342px;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width:100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    color: #299cbd;
    font-family: "Roboto - Black";
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
}

.optimization .optimization_text {
    margin-top: 25px;
    color: #4A4A4A;
    margin-left: 391px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
}

.optimization .optimization_text span {
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bg/second_bg.png') center center/cover no-repeat;
}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px
}

.finish .finish_wrapper .finish_round {
    width: 118px;
    height: 118px;
    top: 176px;
    background: #B4E2FF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.finish .finish_wrapper .finish_item .finish_descr {
    color: #EFEFEF;
    margin-top: 21px;
    text-align: center;
    font-family: Roboto;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}

.bonuses .bonuses {
    padding: 88px 0 88px 0;
    background-color: #EFEFEF;
}

.bonuses .bonuses_icon {
    display:block;
    margin: 0 auto;
}

.bonuses .bonuses_text {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-top: 50px;
}

.bonuses .bonuses_btn {
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    padding: 19px 0 19px 0;

    font-family: Roboto Condensed;
    font-size: 21px;

    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    outline: none;

    text-transform: uppercase;
}

.webinar_date .container {
    padding: 89px 0 89px 0;
}

.webinar_date .first_webinar_img {
    display: block;
    margin: 0 auto;
}

.webinar_date .first_webinar_header {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
}

.webinar_date .first_webinar_date {
    color: #299CBD;
    font-family: Roboto;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
}

.webinar_date .first_webinar_advice {
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    margin-top: 18px;
}

footer {
    background: #1A1A1A;
    height: 169px;
    padding: 57px 0 69px 0;
}

footer .support_text {
    display: block;
    margin: 0 auto;
    color: #888888;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-decoration-line: underline;
    text-align: center;
}